.setting {
	margin-top: -60px !important;
	margin-bottom: 13px;
}
@media (min-width: 576px) {
	.setting {
		margin-top: -10px;
	}
}
.seller {
  width: 67px;
  left: 13px;
  font-weight: bold;
  position: relative;
  margin-bottom: 11px;
  background-color: #8cb4ff;
  border: none;
  border-radius: 4px;
  height: 23px;
  text-align: center
}