
{% extends 'base.html' %}
{% load static %}
{% load i18n %}



{% block navbar %}
          <nav
            class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light"
            id="navbar-vertical"
            style="width: calc(100% - 30px); z-index: 1"
          >
{% endblock navbar %}



{% block titles %}
                <a href="{%url 'product:index'%}" class="nav-item nav-link">{% trans 'Home'%}</a>
                <a href="{%url 'product:shop'%}" class="nav-item nav-link">{% trans 'Shop'%}</a>
                <div class="nav-item dropdown">
                  <a
                    href="#"
                    class="nav-link dropdown-toggle active"
                    data-toggle="dropdown"
                    >{% trans 'Pages'%}</a
                  >
                  <div class="dropdown-menu rounded-0 m-0">
                    <a href="{%url 'cart:cart'%}" class="dropdown-item">{% trans 'Shopping Cart'%}</a>
                    <a href="{% url 'cart:checkout' %}" class="dropdown-item">{% trans 'Checkout'%}</a>
                  </div>
                </div>
                <a href="{% url 'cart:contact' %}" class="nav-item nav-link">{% trans 'Contact'%}</a>

{% endblock titles %}

{% block content %}

</div>
</div>
</div>

    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
      <div
        class="d-flex flex-column align-items-center justify-content-center"
        style="min-height: 300px"
      >
        <h1 class="font-weight-semi-bold text-uppercase mb-3">{% trans 'Shopping Cart'%}</h1>
        <div class="d-inline-flex">
          <p class="m-0"><a href="{% url 'product:index' %}">{% trans 'Home'%}</a></p>
          <p class="m-0 px-2">-</p>
          <p class="m-0">{% trans 'Shopping Cart'%}</p>
        </div>
      </div>
    </div>
    <!-- Page Header End -->

    <!-- Cart Start -->
    <div class="container-fluid pt-5">
      <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
          <table class="table table-bordered text-center mb-0">
            <thead class="bg-secondary text-dark">
              <tr>
                <th>{% trans 'My Cart'%}</th>
              </tr>
            </thead>
            <thead class="bg-secondary text-dark">
              <tr>
                <th>{% trans 'Products'%}</th>
                <th>{% trans 'Price'%}</th>
                <th>{% trans 'Quantity'%}</th>
                <th>{% trans 'Total'%}</th>
                <th>{% trans 'Remove'%}</th>
              </tr>
            </thead>
            <tbody class="align-middle">
              {% for order in orders %}
              <tr>
                <td class="align-middle">
                  <img src="{{order.product.main_image.url}}" alt="" style="width: 50px" />
                  {{order.product.name}}
                </td>
                <td class="align-middle">{{order.product.price}}</td>
                <td class="align-middle">
                  <div
                    class="input-group quantity mx-auto"
                    style="width: 100px"
                  >
                    <div class="input-group-btn">
                      <button class="btn btn-sm btn-primary btn-minus"
                        onclick="add_to_cart_cart_page(this)" 
                        id="{{order.product.id}}" 
                        name="remove"
                      >
                        <i class="fa fa-minus"></i>
                      </button>
                    </div>
                    <input
                      id="order-{{order.id}}" 
                      type="text"
                      class="form-control form-control-sm bg-secondary text-center"
                      value="{{order.quantity}}"
                    />
                    <div class="input-group-btn">
                      <button class="btn btn-sm btn-primary btn-plus"
                        onclick="add_to_cart_cart_page(this)" 
                        id="{{order.product.id}}" 
                        name="add"
                      >
                        <i class="fa fa-plus"></i>
                      </button>
                    </div>
                  </div>
                </td>
                <td class="align-middle" id="price-{{order.id}}" >{{order.get_price}}</td>
                <td class="align-middle">
                  <button class="btn btn-sm btn-primary" 
                    onclick="del_order(this)" 
                    id="{{order.id}}" 
                  >
                    <i class="fa fa-times"></i>
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        
        <div class="col-lg-8 table-responsive mb-5">
          <table class="table table-bordered text-center mb-0">
            <thead class="bg-secondary text-dark">
              <tr>
                <th>{% trans 'Confirmed'%}</th>
              </tr>
            </thead>
            <thead class="bg-secondary text-dark">
              <tr>
                <th>{% trans 'Products'%}</th>
                <th>{% trans 'Price'%}</th>
                <th>{% trans 'Quantity'%}</th>
                <th>{% trans 'Total'%}</th>
                <th>{% trans 'Track'%}</th>
              </tr>
            </thead>
            <tbody class="align-middle">
              {% for order in confirmed %}
              <tr>
                <td class="align-middle">
                  <img src="{{order.product.main_image.url}}" alt="" style="width: 50px" />
                  {{order.product.name}}
                </td>
                <td class="align-middle">{{order.product.price}}</td>
                <td class="align-middle">{{order.quantity}}</td>
                
                <td class="align-middle">{{order.get_price}}</td>
                <td class="align-middle">{{order.track}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-lg-4">
          <form class="mb-5" action="">
            <div class="input-group">
              <input
                type="text"
                class="form-control p-4"
                placeholder="Coupon Code"
              />
              <div class="input-group-append">
                <button class="btn btn-primary">{% trans 'Apply Coupon'%}</button>
              </div>
            </div>
          </form>
          <div class="card border-secondary mb-5">
            <div class="card-header bg-secondary border-0">
              <h4 class="font-weight-semi-bold m-0">{% trans 'Cart Summary'%}</h4>
            </div>
            <div class="card-body">
              <div class="d-flex justify-content-between mb-3 pt-1">
                <h6 class="font-weight-medium">{% trans 'Subtotal'%}</h6>
                <h6 class="font-weight-medium" id="total_before">{{total}}</h6>
              </div>
              <div class="d-flex justify-content-between">
                <h6 class="font-weight-medium">{% trans 'Shipping'%}</h6>
                <h6 class="font-weight-medium">{% trans '60'%}</h6>
              </div>
            </div>
            <div class="card-footer border-secondary bg-transparent">
              <div class="d-flex justify-content-between mt-2">
                <h5 class="font-weight-bold">{% trans 'Total'%}</h5>

                {% if total == 0 %}
                    <h5 class="font-weight-bold" id="total_after">0</h5>
                {% else %}
                    <h5 class="font-weight-bold" id="total_after">{{totch}}</h5>
                {% endif %}

              </div>
              <a href="{%url 'cart:checkout'%}">
                <button class="btn btn-block btn-primary my-3 py-3">
                  {% trans 'Proceed To Checkout'%}
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Cart End -->

{% endblock content %}