
{% extends 'base.html' %}
{% load static %}
{% load i18n %}


            
{% block navbar %}
          <nav
            class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0"
            id="navbar-vertical"
          >

{% endblock navbar %}



{% block titles %}
                <a href="{% url 'product:index' %}" class="nav-item nav-link active">{% trans 'Home'%}</a>
                <a href="{%url 'product:shop'%}" class="nav-item nav-link">{% trans 'Shop'%}</a>
                <div class="nav-item dropdown">
                  <a
                    href="#"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    >{% trans 'Pages'%}</a
                  >
                  <div class="dropdown-menu rounded-0 m-0">
                    <a href="{%url 'cart:cart'%}" class="dropdown-item">{% trans 'Shopping Cart'%}</a>
                    <a href="{%url 'cart:checkout'%}" class="dropdown-item">{% trans 'Checkout'%}</a>
                  </div>
                </div>
                <a href="{% url 'cart:contact' %}" class="nav-item nav-link">{% trans 'Contact'%}</a>

{% endblock titles %}

{% block content %}
          <div id="header-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" style="height: 410px">
                
                <img class="img-fluid" src="{%static 'img/b3.jpg'%}" alt="Image" />
                <div
                  class="carousel-caption d-flex flex-column align-items-center justify-content-center"
                >
                  <div class="p-3" style="max-width: 700px">
                    <h4
                      class="text-light text-uppercase font-weight-medium mb-3"
                    >
                    {% trans '10% Off Your First Order'%}
                    </h4>
                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">
                      {% trans 'Reasonable Price'%}
                    </h3>
                    <a href="{%url 'product:shop'%}" class="btn btn-light py-2 px-3">{% trans 'Shop Now'%}</a>
                  </div>
                </div>
              </div>
              <div class="carousel-item" style="height: 410px">
                <img class="img-fluid" src="{% static 'img/b1.jpg'%}" alt="Image" />
                <div
                  class="carousel-caption d-flex flex-column align-items-center justify-content-center"
                >
                  <div class="p-3" style="max-width: 700px">
                    <h4
                      class="text-light text-uppercase font-weight-medium mb-3"
                    >
                    {% trans '10% Off Your First Order'%}
                    </h4>
                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">
                      {% trans 'Fashionable Dress'%}
                    </h3>
                    <a href="{%url 'product:shop'%}" class="btn btn-light py-2 px-3">{% trans 'Shop Now'%}</a>
                  </div>
                </div>
              </div>
            </div>
            <a
              class="carousel-control-prev"
              href="#header-carousel"
              data-slide="prev"
            >
              <div class="btn btn-dark" style="width: 45px; height: 45px">
                <span class="carousel-control-prev-icon mb-n2"></span>
              </div>
            </a>
            <a
              class="carousel-control-next"
              href="#header-carousel"
              data-slide="next"
            >
              <div class="btn btn-dark" style="width: 45px; height: 45px">
                <span class="carousel-control-next-icon mb-n2"></span>
              </div>
            </a>
          </div>
          
        </div>
      </div>
    </div>
    <!-- Navbar End -->
    <!-- Featured Start -->
    <div class="container-fluid pt-5">
      <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
          <div
            class="d-flex align-items-center border mb-4"
            style="padding: 30px"
          >
            <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
            <h5 class="font-weight-semi-bold m-0">{% trans 'Quality Product'%}</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
          <div
            class="d-flex align-items-center border mb-4"
            style="padding: 30px"
          >
            <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
            <h5 class="font-weight-semi-bold m-0">{% trans 'Shipping'%}</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
          <div
            class="d-flex align-items-center border mb-4"
            style="padding: 30px"
          >
            <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
            <h5 class="font-weight-semi-bold m-0">{% trans '14-Day Return'%}</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
          <div
            class="d-flex align-items-center border mb-4"
            style="padding: 30px"
          >
            <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
            <h5 class="font-weight-semi-bold m-0">{% trans '24/7 Support'%}</h5>
          </div>
        </div>
      </div>
    </div>
    <!-- Featured End -->
    <!-- Categories Start -->
    <div class="container-fluid pt-5">
      <div class="row px-xl-5 pb-3">
        <div class="col-lg-4 col-md-6 pb-1">
          <div
            class="cat-item d-flex flex-column border mb-4"
            style="padding: 30px"
          >
            <p class="text-right">...</p>
            <a href="{%url 'product:shop'%}?Male=on" class="cat-img position-relative overflow-hidden mb-3">
              <img class="img-fluid" src="{%static '/img/cat-1.jpg'%}" alt="" />
            </a>
            <h5 class="font-weight-semi-bold m-0">{% trans 'Men dresses'%}</h5>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 pb-1">
          <div
            class="cat-item d-flex flex-column border mb-4"
            style="padding: 30px"
          >
            <p class="text-right">...</p>
            <a href="{%url 'product:shop'%}?Female=on" class="cat-img position-relative overflow-hidden mb-3">
              <img class="img-fluid" src="{%static 'img/cat-2.jpg'%}" alt="" />
            </a>
            <h5 class="font-weight-semi-bold m-0">{% trans 'Women dresses'%}</h5>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 pb-1">
          <div
            class="cat-item d-flex flex-column border mb-4"
            style="padding: 30px"
          >
            <p class="text-right">...</p>
            <a href="{%url 'product:shop'%}?Baby=on" class="cat-img position-relative overflow-hidden mb-3">
              <img class="img-fluid" src="{%static 'img/cat-3.jpg'%}" alt="" />
            </a>
            <h5 class="font-weight-semi-bold m-0">{% trans 'Baby dresses'%}</h5>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 pb-1">
          <div
            class="cat-item d-flex flex-column border mb-4"
            style="padding: 30px"
          >
            <p class="text-right">...</p>
            <a href="{%url 'product:shop'%}?Search=Accerssories" class="cat-img position-relative overflow-hidden mb-3">
              <img class="img-fluid" src="{%static 'img/cat-4.jpg'%}" alt="" />
            </a>
            <h5 class="font-weight-semi-bold m-0">{% trans 'Accerssories'%}</h5>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 pb-1">
          <div
            class="cat-item d-flex flex-column border mb-4"
            style="padding: 30px"
          >
            <p class="text-right">...</p>
            <a href="{%url 'product:shop'%}?Search=Bags" class="cat-img position-relative overflow-hidden mb-3">
              <img class="img-fluid" src="{%static 'img/cat-5.jpg'%}" alt="" />
            </a>
            <h5 class="font-weight-semi-bold m-0">{% trans 'Bags'%}</h5>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 pb-1">
          <div
            class="cat-item d-flex flex-column border mb-4"
            style="padding: 30px"
          >
            <p class="text-right">...</p>
            <a href="{%url 'product:shop'%}?Category=Shoes" class="cat-img position-relative overflow-hidden mb-3">
              <img class="img-fluid" src="{%static 'img/cat-6.jpg'%}" alt="" />
            </a>
            <h5 class="font-weight-semi-bold m-0">{% trans 'Shoes'%}</h5>
          </div>
        </div>
      </div>
    </div>
    <!-- Categories End -->

    <!-- Offer Start -->
    <div class="container-fluid offer pt-5">
      <div class="row px-xl-5">
        <div class="col-md-6 pb-4">
          <div
            class="position-relative bg-secondary text-center text-md-right text-white mb-2 py-5 px-5"
          >
            <img src="{%static 'img/offer-1.png'%}" alt="" />
            <div class="position-relative" style="z-index: 1">
              <h5 class="text-uppercase text-primary mb-3">
                {% trans '20% off the all order'%}
              </h5>
              <h1 class="mb-4 font-weight-semi-bold">{% trans 'Spring Collection'%}</h1>
              <a href="{%url 'product:shop'%}" class="btn btn-outline-primary py-md-2 px-md-3"
                >{% trans 'Shop Now'%}</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-6 pb-4">
          <div
            class="position-relative bg-secondary text-center text-md-left text-white mb-2 py-5 px-5"
          >
            <img src="{%static 'img/v16.png'%}" alt="" />
            <div class="position-relative" style="z-index: 1">
              <h5 class="text-uppercase text-primary mb-3">
                {% trans '20% off the all order'%}
              </h5>
              <h1 class="mb-4 font-weight-semi-bold">{% trans 'Winter Collection'%}</h1>
              <a href="{%url 'product:shop'%}" class="btn btn-outline-primary py-md-2 px-md-3"
                >{% trans 'Shop Now'%}</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Offer End -->

    <!-- Products Start -->
    <div class="container-fluid pt-5">
      <div class="text-center mb-4">
        <h2 class="section-title px-5">
          <span class="px-2">{% trans 'Trandy Products'%}</span>
        </h2>
      </div>
      <div class="row px-xl-5 pb-3">

        {% for product in trendy %}
        
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
          <div class="card product-item border-0 mb-4">
            <div
              class="card-header product-img position-relative overflow-hidden bg-transparent border p-0"
            >
              <img class="img-fluid w-100" src="{{product.main_image.url}}" alt="" />
            </div>
            <div
              class="card-body border-left border-right text-center p-0 pt-4 pb-3"
            >
              <h6 class="text-truncate mb-3">{{product.name}}</h6>
              <div class="d-flex justify-content-center">
                <h6>{{product.price}}</h6>
                <h6 class="text-muted ml-2"><del>{{product.price_dis}}</del></h6>
              </div>
            </div>
            <div
              class="card-footer d-flex justify-content-between bg-light border"
            >
              <a href="" class="btn btn-sm text-dark p-0"
                ><i class="fas fa-eye text-primary mr-1"></i>{% trans 'View Detail'%}</a
              >
              
              {% if product in cart_items %}
                <a class="btn btn-sm text-dark p-0 d-none" 
                    onclick="add_to_cart(this)" 
                    id="{{product.id}}"
                    name="add"
                  >
                  <i class="fas fa-shopping-cart text-primary mr-1"></i>{% trans 'Add To Cart'%}
                </a>

                <a class="btn btn-sm text-dark p-0 d-none d-block added-color"  
                    id="added-{{product.id}}"
                    name="added"
                  >
                  <i class="fas fa-shopping-cart text-primary mr-1"></i>Added to cart
                </a>
              {% else %}
                <a class="btn btn-sm text-dark p-0" 
                    onclick="add_to_cart(this)" 
                    id="{{product.id}}"
                    name="add"
                  >
                  <i class="fas fa-shopping-cart text-primary mr-1"></i>{% trans 'Add To Cart'%}
                </a>

                <a class="btn btn-sm text-dark p-0 d-none"  
                    id="added-{{product.id}}"
                    name="added"
                  >
                  <i class="fas fa-shopping-cart text-primary mr-1"></i>Added to cart
                </a>
              {% endif %}


            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- Products End -->
    <!-- Subscribe Start -->
    <div class="container-fluid bg-secondary my-5">
      <div class="row justify-content-md-center py-5 px-xl-5">
        <div class="col-md-6 col-12 py-5">
          <div class="text-center mb-2 pb-2">
            <h2 class="section-title px-5 mb-3">
              <span class="bg-secondary px-2 colors">{% trans 'Stay Updated'%}</span>
            </h2>
            <p>
              Everything that is new and exclusive in the world of fashion will reach you.
            </p>
          </div>
          <form action="">
            <div class="input-group">
              <input
                type="text"
                class="form-control border-white p-4"
                placeholder="Email Goes Here"
              />
              <div class="input-group-append">
                <button class="btn btn-primary px-4">{% trans 'Subscribe'%}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Subscribe End -->

    <!-- Products Start -->
    <div class="container-fluid pt-5">
      <div class="text-center mb-4">
        <h2 class="section-title px-5">
          <span class="px-2">{% trans 'Just Arrived'%}</span>
        </h2>
      </div>


      <div class="row px-xl-5 pb-3">
        {% for product in just_arrived %}
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
          <div class="card product-item border-0 mb-4">
            <div
              class="card-header product-img position-relative overflow-hidden bg-transparent border p-0"
            >

              <a href = "{% url 'product:detail' product.slug%}"><img class="img-fluid w-100" src="{{product.main_image.url}}" alt="" /></a>
            </div>
            <div
              class="card-body border-left border-right text-center p-0 pt-4 pb-3"
            >
              <h6 class="text-truncate mb-3">{{product.name}}</h6>
              <div class="d-flex justify-content-center">
                <h6>{{product.price}}</h6>
                <h6 class="text-muted ml-2"><del>{{product.price_dis}}</del></h6>
              </div>
            </div>
            <div
              class="card-footer d-flex justify-content-between bg-light border"
            >
              <a href="{% url 'product:detail' product.slug%}" class="btn btn-sm text-dark p-0"
                ><i class="fas fa-eye text-primary mr-1"></i>{% trans 'View Detail'%}</a
              >

              {% if product in cart_items %}
                <a class="btn btn-sm text-dark p-0 d-none" 
                    onclick="add_to_cart(this)" 
                    id="{{product.id}}"
                    name="add"
                  >
                  <i class="fas fa-shopping-cart text-primary mr-1"></i>{% trans 'Add To Cart'%}
                </a>

                <a class="btn btn-sm text-dark p-0 d-none d-block added-color"  
                    id="added-{{product.id}}"
                    name="added"
                  >
                  <i class="fas fa-shopping-cart text-primary mr-1"></i>Added to cart
                </a>
              {% else %}
                <a class="btn btn-sm text-dark p-0" 
                    onclick="add_to_cart(this)" 
                    id="{{product.id}}"
                    name="add"
                  >
                  <i class="fas fa-shopping-cart text-primary mr-1"></i>{% trans 'Add To Cart'%}
                </a>

                <a class="btn btn-sm text-dark p-0 d-none"  
                    id="added-{{product.id}}"
                    name="added"
                  >
                  <i class="fas fa-shopping-cart text-primary mr-1"></i>Added to cart
                </a>
              {% endif %}
              

            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- Products End -->
    <!-- Vendor Start -->
    <div class="container-fluid py-5">
      <div class="row px-xl-5">
        <div class="col">
          <div class="owl-carousel vendor-carousel">
            <div class="vendor-item border p-4">
              <img src="{% static 'img/v10.jpg' %}" alt="" />
            </div>
            <div class="vendor-item border p-4">
              <img src="{% static 'img/v2.jpg' %}" alt="" />
            </div>
            <div class="vendor-item border p-4">
              <img src="{% static 'img/v3.jpg' %}" alt="" />
            </div>
            <div class="vendor-item border p-4">
              <img src="{% static 'img/v4.jpg' %}" alt="" />
            </div>
            <div class="vendor-item border p-4">
              <img src="{% static 'img/v5.jpg' %}" alt="" />
            </div>
            <div class="vendor-item border p-4">
              <img src="{% static 'img/v6.jpg' %}" alt="" />
            </div>
            <div class="vendor-item border p-4">
              <img src="{% static 'img/v7.jpg' %}" alt="" />
            </div>
            <div class="vendor-item border p-4">
              <img src="{% static 'img/v8.jpg' %}" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Vendor End -->
{% endblock content %}