{% load static %}
<!DOCTYPE html>
<html class="loading" lang="en">
<!-- BEGIN : Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="Ipay admin is super flexible, powerful, clean &amp; modern responsive admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Ipay admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>Login Page - Ipay</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="120x120" href="{%static 'img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{%static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{%static 'img/favicon-16x16.png' %}">
    <link rel="manifest" href="{%static 'img/site.webmanifest' %}">
    <link rel="mask-icon" href="{%static 'img/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- BEGIN VENDOR CSS-->
    <!-- font icons-->
    <link rel="stylesheet" type="text/css" href="{%static 'app-assets/fonts/feather/style.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'app-assets/fonts/simple-line-icons/style.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'app-assets/fonts/font-awesome/css/font-awesome.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'app-assets/vendors/css/perfect-scrollbar.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'app-assets/vendors/css/prism.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'app-assets/vendors/css/switchery.min.css'%}">
    <!-- END VENDOR CSS-->
    <!-- BEGIN IPAY CSS-->
    <link rel="stylesheet" type="text/css" href="{%static 'app-assets/css/bootstrap.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'app-assets/css/bootstrap-extended.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'app-assets/css/colors.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'app-assets/css/components.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'app-assets/css/themes/layout-dark.css'%}">
    <link rel="stylesheet" href="{%static 'app-assets/css/plugins/switchery.css'%}">
    <!-- END IPAY CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="{%static 'app-assets/css/core/menu/horizontal-menu.css'%}">
    <link rel="stylesheet" href="{%static 'app-assets/css/pages/authentication.css'%}">
    <!-- END Page Level CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{%static 'assets/css/style.css'%}">
    <!-- END: Custom CSS-->
</head>
<!-- END : Head-->

<!-- BEGIN : Body-->

<body class="horizontal-layout horizontal-menu horizontal-menu-padding 1-column auth-page navbar-sticky layout-dark blank-page" data-open="hover" data-menu="horizontal-menu" data-col="1-column">
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="wrapper">
        <div class="main-panel">
            <!-- BEGIN : Main Content-->
            <div class="main-content">
                <div class="content-overlay"></div>
                <div class="content-wrapper">
                    <!--Login Page Starts-->
                    <section id="login" class="auth-height">
                        <div class="row full-height-vh m-0">
                            <div class="col-12 d-flex align-items-center justify-content-center">
                                <div class="card overflow-hidden">
                                    <div class="card-content">
                                        <div class="card-body auth-img">
                                            <div class="row m-0">
                                                <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center auth-img-bg p-3">
                                                    <img src="{%static 'app-assets/img/gallery/login.png'%}" alt="" class="img-fluid" width="300" height="230">
                                                </div>
                                                <div class="col-lg-6 col-12 px-4 py-3">
                                                    <form  method="POST">
                                                        {% csrf_token %}
                                                        <h4 class="mb-2 card-title">Login</h4>
                                                        <p>Welcome back, please login to your account.</p>
                                                        
                                                        <h6 style="color:#ff0000;">{{error}}</h6>

                                                        <input type="text" class="form-control mb-3" name="username" placeholder="Email">
                                                        <input type="password" class="form-control mb-2" name="password" placeholder="Password">

                                                        <div class="d-sm-flex justify-content-between mb-3 font-small-2">
                                                            <div class="remember-me mb-2 mb-sm-0">
                                                                <div class="checkbox auth-checkbox">
                                                                    <input type="checkbox" id="auth-ligin">
                                                                    <label for="auth-ligin"><span>Remember Me</span></label>
                                                                </div>
                                                            </div>
                                                            <a href="{%url 'user:password_reset'%}" class="f-password">Forgot Password?</a>
                                                        </div>
                                                        <div class="d-flex justify-content-between flex-sm-row flex-column">
                                                            <a href="/sign-up" class="btn bg-light-primary mb-2 mb-sm-0 b-login">Register</a>
                                                            
                                                            <button name="submit" type="submit" class="btn btn-primary register">Login</button>
                                                        </div>
                                                    </form>

                                                    <hr>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <h6 class="text-primary m-0 ">Or Login With</h6>
                                                        <div class="login-options">
                                                            <div id="buttonDiv"></div> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--Login Page Ends-->
                </div>
            </div>
            <!-- END : End Main Content-->
        </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->

    <!-- BEGIN VENDOR JS-->
    <script src="{%static 'app-assets/vendors/js/vendors.min.js'%}"></script>
    <script src="{%static 'app-assets/vendors/js/switchery.min.js'%}"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN IPAY JS-->
    <script src="{%static 'app-assets/js/core/app-menu.js'%}"></script>
    <script src="{%static 'app-assets/js/core/app.js'%}"></script>
    <script src="{%static 'app-assets/js/notification-sidebar.js'%}"></script>
    <script src="{%static 'app-assets/js/customizer.js'%}"></script>
    <script src="{%static 'app-assets/js/scroll-top.js'%}"></script>
    <!-- END IPAY JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <!-- END PAGE LEVEL JS-->
    <!-- BEGIN: Custom CSS-->
    <script src="{%static 'assets/js/scripts.js'%}"></script>
    <!-- END: Custom CSS-->

    <!-- google login-->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="{%static 'js/google.js'%}"></script>

</body>
<!-- END : Body-->

</html>