{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{%static 'register/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- <script src="js/main.js" defer></script> -->
</head>

<body>
    <div class="login-box">
        <h3>{% trans 'Register'%}</h3>
        <form   method="POST">
            {% csrf_token %}
            <div class="user-box">
                <input type="text"
                aria-describedby="inputGroupPrepend1 validationServerFirstNameFeedback" onkeyup="validateInput(this)"
                id="first_name" required name="first_name" autocomplete="off">
                <label>{% trans 'First name'%}</label>
                <div id="validationServerFirstNameFeedback" class="invalid-feedback">
                    {{form.first_name.errors}}
                </div>
            </div>
            <div class="user-box">
                <input type="text" onkeyup="validateInput(this)"
                aria-describedby="inputGroupPrepend2 validationServerLastNameFeedback" required name="last_name" id="last_name"  autocomplete="off">
                <label>{% trans 'Last name'%}</label>
                <div id="validationServerLastNameFeedback" class="invalid-feedback">
                    {{form.last_name.errors}}
                </div>
            </div>
            <div class="user-box">
                <div class="input-group has-validation">
                    <input type="email" name="email" id="email" autocomplete="off" required onkeyup="validateInput(this)"
                    aria-describedby="inputGroupPrepend3 validationServerEmailFeedback">
                    <label>{% trans 'Email'%}</label>
                    <div id="validationServerEmailFeedback" class="invalid-feedback">
                        {{form.email.errors}}
                    </div>
                </div>
            </div>
            <div class="user-box">
                <input type="password"  name="password1" id="password" autocomplete="off" required aria-describedby="validationServer03Feedback"
                onkeyup="validateInput(this)">
                <label>Password</label>
                <div id="validationServer03Feedback" class="invalid-feedback">
                    {{form.password1.errors}}
                </div>
            </div>
            <div class="user-box">
                <input type="password" name="password2" id="confirm_password" required autocomplete="off"
                onkeyup="validateInput(this);confrimPasswordValidation()" aria-describedby="validationServer04Feedback">
                <label>{% trans 'Confrim Password'%}</label>
                <div id="validationServer04Feedback" class="invalid-feedback">
                    {{form.password2.errors}}
                </div>
            </div>
            <div class="user-box">
                <input type="text" id="mobile" name="phone" autocomplete="off"  required aria-describedby="validationServer05Feedback"
                onkeyup="validateInput(this)">
                <label>{% trans 'Mobile'%}</label>
                <div id="validationServer05Feedback" class="invalid-feedback">
                    {{form.phone.errors}}
                </div>
            </div>
            <div >
                <label class="sell" for="seller">{% trans 'Choose account'%}:</label>
                <select name="seller" class="seller" id="seller" name="seller">
                    <option value="">{% trans 'User'%}</option>
                    <option value="1">{% trans 'Seller'%}</option>
                </select>
                <div id="validationServer05Feedback" class="invalid-feedback">
                    {{form.seller.errors}}
                </div>
            </div>
            <div class="user-box">
            {{form.errors}}
            </div>
            <div class="col-12">
                <button name="submit" type="submit">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    {% trans 'Submit'%}
                </button>
            </div>
            {% comment %} <div class="col-12">
                <a href="{% url 'user:login'%}">
                    <button type="button">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        login
                    </button>
                </a>
            </div> {% endcomment %}
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <script src="{%static 'register/js/main.js'%}"></script>
</body>

</html>