
{% extends 'base.html' %}
{% load static %}
{% load i18n %}



            
{% block navbar %}
          <nav
            class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0"
            id="navbar-vertical"
          >

{% endblock navbar %}




{% block titles %}
                <a href="{%url 'product:index'%}" class="nav-item nav-link">{% trans 'Home'%}</a>
                <a href="{%url 'product:shop'%}" class="nav-item nav-link">{% trans 'Shop'%}</a>
                <div class="nav-item dropdown">
                  <a
                    href="#"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    >{% trans 'Pages'%}</a
                  >
                  <div class="dropdown-menu rounded-0 m-0">
                    <a href="{%url 'cart:cart'%}" class="dropdown-item">{% trans 'Shopping Cart'%}</a>
                    <a href="{% url 'cart:checkout' %}" class="dropdown-item">{% trans 'Checkout'%}</a>
                  </div>
                </div>
                <a href="{% url 'cart:contact' %}" class="nav-item nav-link">{% trans 'Contact'%}</a>

{% endblock titles %}


{% block content %}

{% load crispy_forms_tags %}  

<br>
<br>

<!--Password Reset Confirm-->
  <div class="container p-5">
      <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
      <hr>
      <p>Please enter your new password.</p>
      <form method="POST">
          {% csrf_token %}
          {{ form|crispy }}      
          <br>              
          <button class="btn btn-primary" type="submit">Reset password</button>
      </form>
  </div>


  
</div>
</div>
</div>

{% endblock %}