
{% extends 'base.html' %}
{% load static %}
{% load i18n %}



            
{% block navbar %}
          <nav
            class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0"
            id="navbar-vertical"
          >

{% endblock navbar %}




{% block titles %}
                <a href="{%url 'product:index'%}" class="nav-item nav-link">{% trans 'Home'%}</a>
                <a href="{%url 'product:shop'%}" class="nav-item nav-link">{% trans 'Shop'%}</a>
                <div class="nav-item dropdown">
                  <a
                    href="#"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    >{% trans 'Pages'%}</a
                  >
                  <div class="dropdown-menu rounded-0 m-0">
                    <a href="{%url 'cart:cart'%}" class="dropdown-item">{% trans 'Shopping Cart'%}</a>
                    <a href="{% url 'cart:checkout' %}" class="dropdown-item">{% trans 'Checkout'%}</a>
                  </div>
                </div>
                <a href="{% url 'cart:contact' %}" class="nav-item nav-link">{% trans 'Contact'%}</a>

{% endblock titles %}



{% block content %}

<br>
<br>

<!--Password reset sent-->
<div class="container p-5">
  <h2 class="font-weight-bold mt-3">Password reset sent</h2>
    <hr>
    <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
</div>


</div>
</div>
</div>

{% endblock %}